fastapi==0.110.0
uvicorn[standard]==0.28.0
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
scikit-learn==1.4.1.post1
tensorflow==2.15.0
TA-Lib==0.4.28
mlflow==2.11.1
kafka-python==2.0.2
msgspec==0.18.6
requests==2.31.0
python-dotenv==1.0.1